main {
  display: inline-block;
  width: 100%;
}

/*------------------------*/
/*Main Site Content Sizing*/
/*------------------------*/

/* */
.hity-wykopu-container {
  display: flex;
  flex-direction: column;
  max-width: 1260px;
  margin: 6px auto 0 auto;
  width: 100%;
  height: 240px;
}

.section-title {
  display: flex;
  padding: 7px 2px;
  font-size: 14px;
}

.title-text {
  font-weight: 700;
  color: #c1c1c3;
}

.see-more-button {
  margin-left: 20px;
}

.hity-wykopu-articles-container {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;  
  gap: 12px;
}

.article {
  position: relative;
  
  height: 100%;
  width: 240px;
  background-color: rgb(60,60,60);
  flex-shrink: 0;
  border-radius: 8px;
}

.article-image {
  width: 100%;
}

.comment-count {
  position: absolute;
  background-color: #222225;
  border-radius: 9px;
  border: 3px solid var(--blackish);
  padding: 5px 5px 6px 5px;
  top: 22px;
  left: 16px;
  color: var(--orange);
  font-weight: bold;
  font-size: 14px;
}

.on-fire-mark {
  background-color: var(--orange);
  position: absolute;
  top: 13px;
  left: 15px;
  height: 18px;
  width: 18px;
  border-radius: 10px;
}

/*Zawartość Głównej części strony*/

.sub-main-container {
  display: flex;
  max-width: 1260px;
  margin: 6px auto 0 auto;
}

.główna-container {
  flex: 3;
}

.main-content .container {
  margin-top: 16px;
}

.main-content .article {
  width: auto;
  padding: 20px;
  background-color: var(--whitish);
  
  border: 1px solid rgba(var(--blackishRGB), 0.05);
  transition: 0.15s;
  display: flex;
  margin-top: 10px;
}

.article-rating {
  width: 10%;
  display: flex;
  justify-content: center;
}
.article-rating .comment-count {
  left: auto;
  right: auto;
}

.article-text {
  width: 70%;
}
.article-title {
  font-weight: 700;
  font-size: 20px;
}
.article-abstract {
  margin-top: 10px;
  font-size: 16px;
  opacity: 0.8;
}
.article-source {
  margin-top: 10px;
  opacity: 0.4;
  font-size: 14px;
}
.article-tags {
  margin-top: 10px;
  opacity: 0.4;
  font-size: 14px;
}

.article-image-container {
  width: 20%;
}

.main-content .article:hover {

  border: 1px solid rgba(var(--blackishRGB), 0.15);
}


/*Zawartość prawej części strony*/

.right-main-container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  width: 300px;
}

.hity-tygodnia, .gorace-wpisy, .wykopalisko, .popularne-tagi, .wykop-info {
  background-color: var(--whitish);
  border-radius: 6px;
  padding: 16px 20px;
  width: 260px;
  margin-bottom: 6px;
  font-weight: 700;
  color: #c1c1c3;
  font-size: 14px;
}

.hity-tygodnia-title, .gorace-wpisy-title, .wykopalisko-title, .popularne-tagi-title, .wykop-info-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin-bottom: 10px;
}

.hity-tygodnia-article{
  display: flex;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transform: translateX(-20px);
  width: calc(100%);
  padding: 15px 20px;
  transition: background-color 0.15s;
}

.hity-tygodnia-article .image {
  border-radius: 4px;
  width: 70px;
  height: 70px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70px;
  flex: 0 0 70px;
  overflow: hidden;
  position: relative;
}

.hity-tygodnia-article .content {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.hity-tygodnia-article:hover {
  background-color: rgba(var(--blackishRGB), 0.05);
}

.pokaz-wiecej {
  display: flex;
  border: 1px solid var(--blackish);
  border-radius: 4px;
  height: 28px;
  padding: 0 16px;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}